# Data and Archives
/data/
!src/data/
backup/
.backup/
archieve/

# Build artifacts
build/
*.egg-info/

# Virtual Environment
.venv/
.venv_new/
venv/
__pycache__/
.venv312/

# Mac
.DS_Store

# IDEs
.idea/
.vscode/

# Claude
CLAUDE.md
